*{
    margin: 0px;
    padding: 0px;
}
.form{
    padding: 2px;
    /* border: 1px solid black; */
    border-radius: 5px;
    text-align: center;
    align-items: center;
    margin: 100px 500px 100px 500px ;
    /* height: auto; */
    /* width: auto; */
}
.btn{
    background-color: green;
    color: white;
    border: 1px solid green;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
}
.btn:hover{
    cursor: pointer;
    background-color: #00C000;
}
.update-btn{
    background-color: blue;
    color: white;
    border: 1px solid blue;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
}
.update-btn:hover{
    cursor: pointer;
    background-color:#5072A7;
}
.delete-btn{
    background-color: red;
    color: white;
    border: 1px solid red;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
}
.delete-btn:hover{
    cursor: pointer;
    background-color: #E23F44;
}